/a.out
/*.core
/core
/core-*
/makeav
/makeav.com
/makeav.exe
/pkl2fix
/pkl2fix.com
/pkl2fix.exe
/pklaxfix
/pklaxfix.com
/pklaxfix.exe
/pkpspfix
/pkpspfix.com
/pkpspfix.exe
/putav
/putav.com
/putav.exe
